.previousDate {
	color: red;
}

.currentDate {
	color: black;
}

.futureDate {
	color: green;
}

#dojoCalendar {
	position: relative;
	float: left;
}

#dateHolder {
	position: relative;
	float: right;
}
